/* Fonts */
@import url("https://smc.org.in/fonts/manjari.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/firacode/5.2.0/fira_code.css");

/* Styling */
html {
  font-family: "Manjari", sans-serif;
}
body {
  color: #454545;
  font-size: calc(1em + 0.33vw);
  transition: background 0.2s linear;
  box-sizing: border-box;
  line-height: 1.4;
}
body.dark {
  background: #1d2021;
  color: #fbf1c7;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.name {
  width: 80%;
  flex: 1;
  text-align: left;
  width: 80%;
}
.link {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 2px solid;
  border-style: dotted;
  text-decoration: none;
  color: #076678;
}

p a,
li a {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 2px solid;
  border-style: dotted;
  text-decoration: none;
  color: #076678;
}
.color-scheme {
  font-size: 15px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.post-title {
  margin-bottom: 5px;
}
.post-dets {
  margin: 0px 0px 5px 0px;
}
.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  boder-bottom: 2px dotted;
}
.tags a {
  margin-right: 5px;
}
.tags h5 {
  margin: 6px 5px 6px 0px;
}
.tag {
  background: #e25555;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0px;
}
.well h5 {
  margin: 5px 0px;
}
.label {
  background-color: #282828;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 10px;
  width: 40px;
  transform: scale(1.5);
  margin-top: 10px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 17px;
  width: 17px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(28px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.intro {
  display: flex;
  flex-direction: column;
}
.intro p {
  text-align: justify;
}
.intro-quote {
  font-family: serif;
  list-style: none;
  font-style: italic;
  text-align: center;
  width: 400px;
}
.image {
  width: 200px;
  border-radius: 200px;
  margin: 10px;
}

html.contrast body {
  color: #050505;
}
small {
  font-size: calc(0.5em + 0.33vw);
}
ul li img {
  height: 1em;
}
blockquote {
  margin-left: 0;
}
.nav {
  margin: 20px auto;
}
.nav a {
  background: #076678;
  padding: 10px;
  color: #fbf1c7;
  text-decoration: none;
  border-radius: 3px;
  margin: 5px;
}
.nav a:hover {
  background: #fff;
  padding: 8px;
  color: #076678;
  text-decoration: none;
  border: 2px solid #076678;
}
.go-back {
  color: inherit;
  text-decoration: none;
}
blockquote {
  background: #f9f9f9;
  color: #454545;
  border-left: 5px solid #076678; /*#ccc;*/
  margin: 1.5em 20px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: calc(1em + 0.33vw);
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-style: italic;
  font-size: calc(0.8em + 0.33vw);
}
blockquote ul,
ul {
  padding-left: 20px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
  justify-content: space-between;
  width: 80%;
}
.social a {
  text-decoration: none;
  color: auto;
  margin: 0;
  color: #076678;
}
.social-link {
  font-size: 30px;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-right: 0px;
  border-top: 2px solid;
  border-left: 0px;
  border-bottom: 0px;
  border-style: dotted;
  margin: 20px auto;
  width: 80%;
}
#footer p {
  width: 500px;
  margin: 10px auto;
}
.copyleft b {
  display: inline-block;
  transform: rotate(180deg);
}
#footer strong {
  width: 90%;
}
#footer .copyleft {
  margin: 10px 0px;
  padding: 0;
  font-size: calc(0.5em + 0.33vw);
  list-style: none;
}

#footer .copyleft li {
  display: inline-block;
  margin: 0 0 0 0.45em;
  padding: 0 0 0 0.85em;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  line-height: 1;
}

#footer .copyleft li:first-child {
  border-left: 0;
}
pre {
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  font-size: calc(0.7em + 0.33vw);
  overflow-x: auto;
}
code {
  background: #2c2c2c;
  color: #fbf1c7;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 80%;
  }
  #footer p,
  .intro-quote {
    width: 90%;
  }
}
