{{define "main"}}
<section class="intro">
  {{if eq .Section "posts"}}
    <h1>{{.Title}}</h1>
    <h5><b>Published on: </b>{{ .PublishDate.Format "January 2, 2006" }} | <b>Reading Time:</b> {{.ReadingTime}} min
      <br>
    </h5>
    {{range .Params.Tags }}
        <a class="tag" href='{{ "tags/" | absURL }}{{.}}'>{{.}}</a>
    {{end}}
    {{ if .IsTranslated }}
      <p>Also available in: </p>
	    <nav class="LangNav">
	    {{ range .Translations }}
      <a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
	    {{ end}}
	    </nav>
    {{ end }}
    <hr>
    {{.Content }}
  {{else}}
  <h1 class="title-center">{{.Title}}</h1>
    <hr>
    {{.Content }}
  {{end}}
</section>
{{end}}
