<footer id="footer">
            <strong>
            <div class="social">
                    <a href="https://gitlab.com/avron/"><i class="social-link fab fa-gitlab"></i></a>
                    <a href="https://github.com/avronr"><i class="social-link fab fa-github"></i></a>
                    <a href="https://twitter.com/avron_raji"><i class="social-link fab fa-twitter"></i></a>
                    <a href="mailto:avronr@tuta.io"><i class="social-link fas fa-envelope"></i></a>
                    <a href="https://aana.site/@avronr"><i class="social-link fab fa-mastodon"></i></a>
                </div>
            <p>Made with <span style="color: #e25555;">&#9829;</span>. Feel free to copy or modify any part of this website.</p>
            <ul class="copyleft">
                <li><a class="link" href="LICENSE"><b>&copy</b> COPYLEFT</a></li>
                <li>avron</li>
            </ul>
            </strong>
         </footer>
