<div class="title">
    <div class="name">
        <h2><a href="{{.Site.BaseURL}}" style="text-decoration: none; color: inherit;">{{ .Site.Title }}</a></h2>
    </div>
    <div class="color-scheme">
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
     </div>
</div>
<script>
 const chk = document.getElementById('chk');

chk.addEventListener('change', () => {
	document.body.classList.toggle('dark');
});
</script>

