{{define "main"}}
    <div class="intro" style="align-items: center">
    {{if .Site.Params.main.enabled }}
        <img class="image" src='{{ .Site.Params.main.img | absURL }}' title="Icon by freepik rom www.flaticon.com" width="200px"/>
    {{end}}
        <p>{{ .Site.Params.main.description }}</p>
     </div>
     <div class="nav">
         <a href='{{"posts" | absURL}}'>Blog</a>
         <a href="{{ "about" | absURL }}">About Me</a>
         <a href="./wip.html">Wiki</a>
     </div>
</div>
{{end}}
