{{define "main"}}
    <div class="intro" style="align-items: center">
        <img class="image" src='{{ "img/abraham.jpg" | absURL}}' alt="my picture" />
        <p>My name is Abraham Raji. I'm a maker. I design and build solutions to problems that fascinate me. I consider myself a minimalist who believes in sensible and intuitive design that is beautiful both on the outside as well as under the hood.</p>
     </div>
     <div class="nav">
         <a href="{{.Site.BaseURL}}">Home</a>
         <a href='{{"posts" | absURL}}'>Blog</a>
         <a href="{{ "about" | absURL }}">About Me</a>
         <a href="./wip.html">Wiki</a>
     </div>
</div>
{{end}}
